body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: auto;
    background-image: url("/fundosaude.png");
  }
  
  .acolor{
    color:black;
    margin: 10px 16px 0 16px;
    text-decoration: none;
  }
  .acolor:hover{
    color: white;
    opacity: 0.6;
    text-decoration: none;
  }
  
  nav{
    padding: 40px 0;
    background-color: #87CEEB;
  }
  
  tr{
    background-color:  	#3CB371;
    text-align: center;
    padding: 0 4px;
  }
  li a{
    color: #000000;
    margin: 0 4px;
    font-size: 18px;
  }
  .titulo_nav{
    font-size: 22px;
    padding: 4px;
  }
  
  h2{
  
    color: rgb(0, 0, 0);
  
  }
  
  .upper{
  
    text-transform: uppercase;
    
    }
    
    .nome{
    
      text-transform: uppercase;
    
    }
    
    .nomemae{
    
      text-transform: uppercase;
    
    }